<!-- RANDOM SNIPPETS AND NOTES -->


6:30-8:30 Tuesdays Side-Project Meetup
Meet 1st floor L3 conference room.
Right door towards parking garage last door on the left
meetup.com


Benefits = 2pm central - <need phone numner>
Should receive 401K email after 30 days.  match 50% up to 6%
Tuition reimbursement - up to 5,250 per year for degree program related to position
17 days per year.  acrue and 1.42 per month.  Can borrow up to 5 days
PTO do not rollover, use by dec 31st.
get 22 days by 3-5 year worked
get 4 half days - get 3 this year (do not rollover either)
8 hours for volunteer work - go to inside track - for 501c(3)
Go to inside track for SAP - entering time, vacation, view pay stubs etc.
look at inside track - discounts and perks for vehicles and stuff
pay statements are on inside track - ADP - iPay
can also get W2 through inside track
Get first check as paper check -> Tina Heart -> on May 15th as a paper check

Health and wellness
livewellIDT.com - can also check inside track - employeeID = always use capital E followed by number

Concur - on inside track - handles receipts for traveling on company business



<!-- Broken Coupon Link Can Be Fixed in Composer -->
Go to Website -> Promotions and Media -> Service Builder Pro -> Manage Specials -> Service

<!-- DVS pull old stuff -->
Grab the revision # from dvsweb (browser) or dvs log (terminal)
dvs pull <siteId>/config -r revision#

<!-- Ticket to Dev -->
Open the account if of the site in the Client Dashboard.
Then click on the "add activity" button located in the bottom left of the screen
Then click on "Reported By Me" - Title Example- V9 | BUG | cci-build-price.vm missing Variable
Add the description of the issue along with the path of the file that needs to be modified and include cms url to the page that is having the issue
Click on the Next arrow or click on the "activity type" (info) icon on the left
Click on "New Ticket"
Select "BUG" from type dropdown
Assignee field will be DEV
And for the "Product" dropdown select one that refers to the issue. - I selected widget since it was a widget not showing up. 
If it is global tick off "Global" on the bottom left
Set priority to high
click save 
The End!

<!-- Hidden Velocity Div Fix -->
DNA4226268
/cvs/nexus/cms-web/htdocs/v9/templates/variation-include-fragment/v1/pages.xml
that's where template-include1 lives
you can pull V9_VARIATION_INCLUDE_DEFAULT_V1 into site-pages.xml
and remove the hide class from the parent group


<!-- Update Prodev CS commands and other stuff -->
tools
git pull
prodev setup

cms-cache = develop
cms-deploy = master
cms-tools = develop
cms-sites = master


<!-- STRANGE CHARACTERS in sitewide JS - put closing script before your work and open script after -->
 /*]]>*/
</script>
<script src='https://www.carcodesms.com/widgets/2459.js' type='text/javascript'></script>
<script>


</script> <!-- IGNORE THIS LINE -->


<!-- Fixes Local Host Port Forwarding -->
Redirecting from port 80 on Mac OS X
Create a link so Apache sees our configuration file, then turn on Web Sharing:

sudo ln -s /cvs/nexus/build/cc7-local-httpd.conf /etc/apache2/other/cc7-local-httpd.conf
sudo defaults write /System/Library/LaunchDaemons/org.apache.httpd Disabled -bool false
sudo launchctl load -w /System/Library/LaunchDaemons/org.apache.httpd.plist
sudo /usr/sbin/httpd -k start -D WEBSHARING_ON














