/* ===================================================================================================== */
	STRONG BAD NOTES
/* ===================================================================================================== */

<!-- General Workflow -->
cmsrun -l
pullall
buildalfa
watchalfa

Go To Rally -> Find Applicable task and assign to self and set "in progress"

[If No Branch Yet]
git checkout develop
git pull
startfeature US12345 (makes new branch)

[If Branch Exists]
git fetch
git checkout feature/US12345

/* IMPORTANT */
Everytime you switch to new branch or git pull, rebuild your assets for localhost.

create new file _mycars.scss in widgets folder
add file to _widgets.scss

git status
git add .
git commit -m “US12345 finished toolbar styling”
git push

go into rally
mark task as complete
message in hip chat and ask jon or hung who wants to QA test

switch to a different branch
git checkout feature/US12345
git status
git pull
buildalfa

/* ===================================================================================================== */


<!-- Sass -->
_base.scss - Main File
_variation.scss - Generic css that's not page specific or widget specific
_var-variation.scss - holds all variable names
_ddc-pallet.scss - contains values for variables
_widgets.scss - used for widget or page specific css that you don't want in _variation.scss
	If making widget or page specific css, add to _widgets.scss and make new file in widget folder.
	This is for heavy customization of one page and keeping stuff organized.


<!-- Things To Be Careful Of -->
be careful when modifying any link-list.  they appear on many different pages and use the same classes.

/* ===================================================================================================== */


